body {
    background-color: #eff2f5;
}

section {
    margin: 40px;
}

.footer-container {
    background-color: #e9ebed;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

.footer-content {
    margin-bottom: 3px;
}

.btn {
    width: 100%;
}